body {
  margin: 20px;
}
background: linear-gradient(to bottom, #5d326c, #350048); /*violet*/
.@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
<style>

     * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
     }

     body {
       color: #000;
       font-family: 'Nunito', sans-serif;
     }

     .testimonial {
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-bottom: 5rem;
     }

     h1 {
       margin: 20px 0;
     }

     .line {
       height: 2px;
       width: 6rem;
       background-color: #e26c4f;
       margin-bottom: calc(3rem + 2vmin);
     }

     .arrow-wrapper {
       position: relative;
       width: 70%;
       border-radius: 2rem;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
       overflow: hidden;
       place-items: center;
     }

     .review-wrap {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-top: calc(2rem + 1vmin);
       width: 100%;
     }

     #imgBox {
       border-radius: 50%;
       width: calc(6rem + 4vmin);
       height: calc(6rem + 4vmin);
       position: relative;
       box-shadow: 5px -3px #e26c4f;
       background-size: cover;
       margin-bottom: calc(0.7rem + 0.5vmin);
     }

     #name {
       margin-bottom: calc(0.7rem + 0.5vmin);
       font-size: calc(1rem + 0.5vmin);
       letter-spacing: calc(0.1rem + 0.1vmin);
       font-weight: bold;
     }

     #profession {
       font-size: calc(0.8rem + 0.3vmin);
       margin-bottom: calc(0.7rem + 0.5vmin);
       color: #e26c4f;
     }

     #description {
       font-size: calc(0.8rem + 0.3vmin);
       width: 70%;
       max-width: 40rem;
       text-align: center;
       margin-bottom: calc(1.4rem + 1vmin);
       color: rgb(92, 92, 92);
       line-height: 2rem;
     }

     .arrow {
       width: calc(1.4rem + 0.6vmin);
       height: calc(1.4rem + 0.6vmin);
       border: solid #e26c4f;
       border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
       cursor: pointer;
       transition: transform 0.3s;
     }

     .arrow:hover {
       transition: 0.3s;
       transform: scale(1.15);
     }

     .left-arrow-wrap {
       position: absolute;
       top: 50%;
       left: 5%;
       transform: rotate(135deg);
     }

     .right-arrow-wrap {
       position: absolute;
       top: 50%;
       right: 5%;
       transform: rotate(-45deg);
     }

     @media screen and (max-width: 900px) {
       .testimonial {
         width: 100%;
       }
     }
.container {
	width: 1500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 400px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container .btn:hover a {
	letter-spacing: 3px;
}
.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.container .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.container .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container .btn:nth-child(1)::before, /*chnage 1*/
.container .btn:nth-child(1)::after {
	background: #ff1f71;
	box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
		0 0 60px #ff1f71;
}
.container .btn:nth-child(2)::before, /* 2*/
.container .btn:nth-child(2)::after {
	background: #2db2ff;
	box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
		0 0 60px #2db2ff;
}
.container .btn:nth-child(3)::before, /* 3*/
.container .btn:nth-child(3)::after {
	background: #1eff45;
	box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
		0 0 60px #1eff45;
}
</style>  
